@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Вітаємо</h1>

    <a href="/Countries">Країни</a>
    <a href="/Cities">Міста</a>
    <a href="/Cinemas">Кінотеатри</a>

</div>
